$color_blue_light : #A7DADB;
$color_pink_light : #FFDDDD;
$color_yellow_light : #FFE147;
$color_black_light : #262035;
$color_blue_light: #A9A9A9;
$color_blue_green_light : #1e5b5b;


$color_blue_dark : #80c2c3;
$color_pink_dark : #c7aa97;
$color_yellow_dark : #e9ca31;
$color_black_dark : #000000;
$color_blue_dark: #8b8b8b;
$color_blue_green_dark : #0B4142;


$color_blue_light_opacity : #a7dadbae;
$color_pink_dark_opacity : #c7aa97bd;