@import 'reset';
@import 'color';
@import 'responsive';

body {

    font-family: "Helvetica", "Arial", sans-serif;
}

.container {
    min-height: 100vh;
    padding: 36px 24px;
}

.margin-top {
    margin-top: 200px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;

    &:hover {
        background: #eee;
    }

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;

    &:hover {
        background: #555;
    }
}


.tooltip {
    cursor: pointer;
    position: relative;
    display: inline-block;

    &-text {
        visibility: hidden;
        position: absolute;
        z-index: 1000;
        top: 120%;
        padding: 2px;
        border-radius: 4px;

        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 10%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
    }

    &:hover {
        .tooltip-text {
            visibility: visible;
        }
    }
}

.virtual-background {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #383636;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}