@import 'reset';
@import 'color';

.cart-order {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &__cart-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 60%;
    }

    &__checkout {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 40%;
    }
}

.cart {
    display: flex;
    flex-direction: column;
    width: 100%;


}

.cart-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cart-shop-outer {
    margin: 16px 48px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 2px $color_pink_dark_opacity;

    .cart-shop {
        display: flex;
        flex-direction: column;
        color: $color_blue_green_dark ;
        width: 100%;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 24px;
            box-shadow: 0px 2px 0px 0px $color_pink_dark_opacity;

            &-name {
                font-size: 24px;
            }

            &-order-btn {
                cursor: pointer;
                padding: 8px 16px;
                font-size: 18px;
                font-weight: 600;
                background-color: $color_pink_dark;
                color: $color_white;
                border-radius: 4px;

                &:hover {
                    background-color: $color_pink_dark_opacity;
                    color: $color_white;
                }
            }
        }
    }
}

.cart-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    width: 100%;
    position: relative;

    &__btn-remove {
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 30px;
        color: $color_blue_green_dark;

        &:hover {
            color: $color_blue_green_light_opacity;
        }
    }

    &__image-box {
        margin: 12px;
        width: 150px;
        height: 150px;
        border-radius: 30px;
        overflow: hidden;
    }

    &__infomation-box {
        width: calc(100% - 150px);
        padding: 14px;
    }

    &__infomation {
        padding: 4px;
    }

    &__product-name {
        margin: 6px;
    }

    &__product-size {
        margin: 6px 8px;
        font-weight: 400;
        color: $color_blue_green_light_opacity;
    }

    &__cart-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__product-price {
        margin: 6px 8px;
    }

    &__quantity-box {
        font-size: 24px;
        font-weight: 600;
        margin: 6px 8px;
        display: flex;

        &--minus,
        &--plus {
            color: $color_blue_green_dark ;
            text-shadow: 2px 2px 4px 4px $color_blue_light_opacity;

            &:hover {
                color: $color_blue_green_light_opacity;
                cursor: pointer;
            }
        }
    }

    &__quantity {
        font-size: 20px;
        color: $color_blue_green_dark ;
        margin: 0 8px;
    }
}

.checkout-box {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        width: 100%;
        padding: 8px;
    }

    &__list-details-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__detail-box {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__detail-box+&__detail-box {
        border-top: 2px solid white;
    }

    &__detail-title {
        margin: 8px;
        font-weight: 600;
        font-size: 18px;
    }

    &__price {
        margin: 8px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: 700;
        font-size: 22px;

        &--quantily,
        &--unit {
            font-weight: 500;
            font-size: 14px;
            color: $color_blue_green_light_opacity;
            margin: 6px;
        }

    }

    &__btn {
        cursor: pointer;
        margin: 24px 0;
        width: 100%;
        height: 48px;
        background-color: $color_blue_green_dark;
        color: $color_white;
        font-size: large;
        font-weight: 700;
        border-radius: 25px;
        border: 2px solid $color_blue_green_dark;

        &:hover {
            background-color: $color_blue_green_light_opacity;
        }
    }

}