$main_color: rgb(29, 28, 28);
$main_light_color : rgba(59, 59, 59, 0.9);
$opposite_color: white;
$main_color_background : rgb(255, 255, 255);
$color_shadow_card: rgba(154, 154, 154, 0.44);

.cart {
    display: flex;
    width: 100%;

    &__cart-list{
        width: 60%;
    }
    &__checkout {
        width: 40%;
    }

}


.cart-card {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
    width: 100%;
    position: relative;

    &__btn-remove {
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 30px;
        color: $main_color;

        &:hover {
            color: $main_light_color;
        }
    }

    &__image-box {
        margin: 12px;
        width: 150px;
        height: 150px;
        border-radius: 30px;
        overflow: hidden;
    }

    &__infomation-box {
        width: calc(100% - 150px);
        padding: 14px;
    }

    &__infomation {
        padding: 4px;
    }

    &__product-name {
        margin: 6px;
    }

    &__product-size {
        margin: 6px 8px;
        font-weight: 400;
        color: $main_light_color;
    }

    &__cart-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__product-price {
        margin: 6px 8px;
    }

    &__quantity-box {
        font-size: 24px;
        font-weight: 600;
        margin: 6px 8px;
        display: flex;

        &--minus,
        &--plus {
            text-shadow: 2px 2px 4px 4px $color_shadow_card;

            &:hover {
                color: $main_light_color;
                cursor: pointer;
            }
        }
    }

    &__quantity {
        font-size: 20px;

        margin: 0 8px;
    }
}

.checkout-box {

    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        width: 100%;
        padding: 8px;
    }

    &__list-details-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__detail-box {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__detail-box+&__detail-box {
        border-top: 2px solid white;
    }

    &__detail-title {
        margin: 8px;
        font-weight: 600;
        font-size: 18px;
    }

    &__price {
        margin: 8px;
        display: flex;
        justify-content: end;
        align-items: center;
        font-weight: 700;
        font-size: 22px;

        &--quantily,
        &--unit {
            font-weight: 500;
            font-size: 14px;
            color: $main_light_color;
            margin: 6px;
        }

    }

    &__btn {
        cursor: pointer;
        margin: 24px 0;
        width: 100%;
        height: 48px;
        background-color: $main_color;
        color: $opposite_color;
        font-size: large;
        font-weight: 700;
        border-radius: 25px;
        border: 2px solid $main_color;

        &:hover {
            background-color: $main_light_color;
        }
    }

}