@import 'color';

//========= Navigation component =========


.navigation-bar {
    transition: 0.8s all;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;

    .navigation-bar-top {
        font-size: 18px;
        padding: 2px 12px;


        color: $color_blue_green_dark;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__elements,
        &__user-box {
            display: flex;
            margin: 2px;
            padding: 2px 4px;
        }

        &__items {

            margin: 4px 48px;
            padding: 2px 4px;

            &--signup,
            &--login {
                margin: 4px 12px;
                padding: 4px 12px;
            }

            &:hover {
                cursor: pointer;
                color: $color_blue_green_light;
            }

        }


    }

    .navigation-bar-container {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 64px;



        &__logo-box {
            height: 100px;
        }

        &__logo-image {
            height: 100%;
            width: auto;
        }


        .navigation-bar-container__search-box {
            width: 60vw;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .navigation-bar-container__search-box-inner {
                width: 100%;


                .navigation-bar-container__form {
                    position: relative;
                    height: 48px;

                    .navigation-bar-container__form-inner {

                        width: 100%;
                        height: 100%;

                        .navigation-bar-container__input {
                            padding: 12px;
                            border: solid 2px $color_blue_green_dark;
                            border-radius: 100px;
                            width: 100%;
                            height: 100%;

                            background-color: transparent;
                        }
                    }

                    .navigation-bar-container__btn-search {
                        font-size: large;
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        transform: translate(-50%, -50%);
                    }
                }
            }

        }

        .navigation-bar-container__cart-drawer {
            .navigation-bar-container__cart-drawer-inner {
                position: relative;
                cursor: pointer;

                .navigation-bar-container__btn-cart {

                    font-size: 34px;

                }

                .navigation-bar-container__quatity-cart {
                    position: absolute;
                    right: -6px;
                    top: -6px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: #171717;
                    color: #fff;

                    border: 1px solid #303846;
                    border-radius: 60px;

                    line-height: 1;
                    font-size: 10px;
                    font-weight: 700;

                    height: 20px;
                    width: 20px;
                    padding: 0 4px;

                    opacity: 0;
                    transition: .3s;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.navigation-bar.active {
    box-shadow: 0px 4px 48px $color_black_light;

    .navigation-bar-top {
        background-color: white;

    }

    .navigation-bar-container {
        background-color: white;
    }

}